@import "public";
//头部区域
#oMyGodtop-con{height:34px;border-bottom:1px solid #eee;background:#f5f5f5;}
.oMyGodtop{height:34px;width:1200px;margin:0 auto;}
//头部左侧
.oMyGodtopLeft{
  position:relative;
  width:417px;
  height:34px;
  float:left;
  .oMyGodwelcome{
    width:262px;
    height:22px;
    padding-top:10px;
  }
    p{
    font-size:12px;
    color:#656565;
      position:relative;
      a{
        color:#f74a2c;
        margin-left:4px;
        margin-right:10px;
      }
      .oMyGodpeisong{
        position:absolute;
        right:12px;
        top:9px;
      }
      .oMyGodtuichu{
        display:none;
        color:#f74a2c;
        position:absolute;
        left:0px;
        top:10px;
      }
  }
  .oMyGodaddress{
    float:left;
    width:153px;
    height:26px;
    border:1px solid #e1e1e1;
    border-radius:4px;
    background:white;
    position:relative;
    top:-29px;
    left:257px;
    z-index:1000;
    span{
      display:block;
      width:45px;
      height:26px;
      line-height:26px;
      float:left;
      text-align:center;
    }
    i{
      display:block;
      width:0;
      height:0;
      border:6px solid transparent;
      border-top:6px solid #333;
      position:absolute;
      right:6px;
      top:11px;
    }
  }
  //这里是配送地址的样式区。需要再改
  .oMyGodaddressafter{
    display:none;
    padding:10px;
    min-height:100px;
    width:370px;
    padding:10px;
    background:white;
    border-radius:2px;
    border:1px solid #e1e1e1;
    position:absolute;
    left:257px;
    top:27px;
    z-index:999;
    .oMyGodchoose{
      width:350px;
      height:30px;
      margin:0 8px;
      border-bottom:1px solid #edd28b;
      z-index:0;
      div{
        width:70px;
        height:30px;
        margin-right:5px;
        border:1px solid #edd28b;
        float:left;
        border-radius:4px;
        border-bottom:0;
        position:relative;
        line-height:30px;
        padding-left:10px;
        opacity:0.3;
        cursor:pointer;
        i{
          display:block;
          width:0;
          height:0;
          border:6px solid transparent;
          border-top:6px solid #333;
          position:absolute;
          right:6px;
          top:11px;
        }
      }
      .oMyGodbianhuan{
        opacity:1;
      }
    }
    .oMyGodcountry{
      display:none;
      width:350px;
      height:200px;
      margin:10px 8px;
      p{
        width:80px;
        height:30px;
        line-height:30px;
        font-size:12px;
        float:left;
        margin:5px 5px 0 0;
        text-align:center;
      }
    }
    }
  }
//右侧列表
.oMyGodtopRight {
  width: 365px;
  height: 34px;
  float: right;
  position:relative;
  //这里是手机版二维码的下拉菜单。
  .oMyGodtopPhone{
    display:none;
    overflow:hidden;
    width:127px;
    height:127px;
    position:absolute;
    right:126px;
    top:33px;
    background:white;
    padding-top:12px;
    text-align:center;
    border:1px solid #eee;
    z-index:999;
    img{
      width:115px;
      height:115px;
    }
  }
  li {
    font-size: 12px;
    height: 21px;
    float: left;
    line-height: 12px;
    background: url(../img/beijingtiao_03.gif) right 12px no-repeat;
    a{
      color:#666;
    }
  }
  .oMyGodtopRightli1 {
    height:34px;
    //这里是个人中心下拉菜单。等会儿继续改
    div{
      display:none;
      overflow:hidden;
      width:90px;
      padding:5px 0 10px 0;
      position:absolute;
      top:34px;
      left:-1px;
      font-size:12px;
      background:white;
      z-index:999;
      border:1px solid #eee;
      border-top:0;
      a{
        font-size:12px;
        color:#666;
        display:block;
        height:12px;
        line-height:14px;
        padding-bottom:8px;
      }
    }
    a {
      display: block;
      width: 79px;
      height: 12px;
      padding: 9px 0 0 11px;
      i {
        display: inline-block;
        width: 10px;
        height: 12px;
        background: url(../img/icon_index.png) -2px -1px no-repeat;
        margin: 0 0 0 9px;
      }
    }
  }
  .oMyGodtopRightli2 {
    padding: 11px 11px 0 11px;
  }
  .oMyGodtopRightli3 {
    z-index:1000;
    padding: 13px 11px 0 31px;
    position: relative;
    a {
      i {
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 9px;
        width: 10px;
        height: 16px;
        background: url(../img/icon_index.png) -4px -47px no-repeat;
      }
    }
  }
  .oMyGodtopRightli4 {
    padding: 11px 11px 0 26px;
    position: relative;
    background: 0;
    a {
      i {
        display: inline-block;
        position: absolute;
        left: 12px;
        top: 11px;
        width: 13px;
        height: 12px;
        background: url(../img/icon_index.png) -3px -66px no-repeat;
      }
      span {
        font-size: 12px;
        color: #fb463d;
      }
    }
  }
}
//logo区域
#oMyGodlogo-con{height:133px;background:white;}
.oMyGodlogo{
  height:133px;
  width:1200px;
  margin:0 auto;
  h1{
    width:361px;
    height:110px;
    float:left;
    margin-right:89px;
    margin-top:5px;
  }
  .oMyGodSearch{
    width:394px;
    height:50px;
    float:left;
    margin-top:45px;
    position:relative;
    .oMyGodtext{
      width:317px;
      height:26px;
      border:2px solid #fb463d;
      outline:none;
      color:#999;
      padding-left:5px;
      font-size:14px;
    }
    .oMyGodbtn{
      width:72px;
      height:30px;
      background:#fb463d;
      color:white;
      outline:none;
      border:0;
      cursor:pointer;
      position:absolute;
      right:1px;
    }
    p{
      width:393px;
      height:26px;
      font-size:12px;
      line-height:26px;
      a{
        color:#acacac;
        margin-right:5px;
      }
      .oMyGodSearchspan1 {
        a{
          color:#fd0200;
        }
      }
    }
  }
  .oMyGodBaozheng{
    width:282px;
    height:33px;
    float:left;
    margin:48px 0 0 64px;
    div{
      width:64px;
      height:33px;
      float:left;
      margin-left:30px;
    }
    /*正品保证*/
    .oMyGodBaozhengdiv1{
       background:url(../img/1569bc7b461_bc_b053891e6777b531f21acd6569f91562_258x546.png) -91px -180px no-repeat;
     }
    .oMyGodBaozhengdiv2{
      background:url(../img/1569bc7b461_bc_b053891e6777b531f21acd6569f91562_258x546.png) -91px -213px no-repeat;
    }
    .oMyGodBaozhengdiv3{
      background:url(../img/1569bc7b461_bc_b053891e6777b531f21acd6569f91562_258x546.png) -91px -246px no-repeat;
    }
  }
}
//nav区域
#oMyGodnav-con{height:28px;}
.oMyGodnav{
  position:relative;
  width:1144px;
  height:28px;
  margin:0 auto;
  padding-left:56px;
  //这里是banner中的详细列表伸出菜单
  ul{
    li{
      float:left;
      cursor:pointer;
      a{
        height:28px;
        margin-left:34px;
        color:#4a3a3d;
      }
    }
    .oMyGodnavli1{
      margin-right:69px;
      padding-top:1px;
      font-size:16px;
      font-weight:900;
      color:#1b0000;
    }
    .oMyGodnavli2 {
      a{
        color:#ff476c;
      }
    }
    .oMyGodnav-li8{
      margin-left:73px;
      padding-left:30px;
      span{
        display:inline-block;
        width:4px;
        height:4px;
        background:#333;
        transform:rotate(45deg);
        position:relative;
        bottom:3px;
        right:3px;
      }
    }
    .oMyGodnav-li9{
      margin-left:24px;
      padding-left:17px;
      span
      {
        display:inline-block;
        width:4px;
        height:4px;
        background:#333;
        transform:rotate(45deg);
        position:relative;
        bottom:3px;
        right:3px;
      }
    }
  }
}
//banner
#oMyGodbanner-con{
  margin-top:0;
  height:460px;
  border-top:2px solid #ff315f;
}
.oMyGodbanner{
  width:1200px;
  height:463px;
  margin:0 auto;
  position:relative;
  .oMyGodbannerTurn{
    height:462px;
    p{
      height:16px;
      position:absolute;
      bottom:28px;
      left:0;
      z-index:9999;
      span{
        display:inline-block;
        width:12px;
        height:12px;
        border:2px solid #969896;
        border-radius:50%;
        margin-right:20px;
      }
    }
  }
  .oMyGodnavList{
    display:none;
    height:458px;
    width:970px;
    border:1px solid #eee;
    border-left:0;
    background:white;
    position:absolute;
    top:0px;
    left:217px;
    z-index:1000;
    div{
      width:290px;
      height:176px;
      padding-top:37px;
      margin:10px 12px 0 15px;
      float:left;
      h3{
        width:290px;
        height:28px;
        font-size:16px;
        line-height:28px;
        color:#333;
        font-weight:900;
        border-bottom:1px solid #999;
        margin-bottom:8px;
      }
      p{
        width:290px;
        height:139px;
        span{
          padding-right:5px;
          margin-left:5px;
          display:block;
          float:left;
          height:20px;
          text-align:center;
          line-height:20px;
          border-right:1px solid #eee;
          font-size:12px;
          a{
          color:#666;
        }
        }
      }
    }
  }
  .oMyGodbannernav {
    width: 176px;
    height: 462px;
    position: absolute;
    left: 0;
    top: -2px;
    background: #f5f5f5;
    ul {
      width: 220px;
      background: #f5f5f5;
      li {
        width: 198px;
        height: 60px;
        border-bottom: 1px dashed #a0a0a0;
        padding: 16px 0 0 22px;
        font-size: 12px;
        background: #f5f5f5;
        p {
          margin-bottom: 14px;
          height: 12px;
          line-height: 12px;
        }
        .oMyGodbannernavlip {
          a {
            padding-left: 35px;
            font-size: 14px;
            height: 14px;
            line-height: 14px;
            color: #070009;
            background:url(../img/1548c1f27a4_2_6cd4e4b1b96efb57a89c040f7c2aa7db_30x30.png) 0 -6px no-repeat;
          }
        }
        .oMyGodbannernavlip2 {
          a {
            color: #9c9c9c;
          }
          span {
            color: #9c9c9c;
          }
        }
      }
    }
    .oMyGodbannernavlastli {
      border: 0;
    }
  }
}
//奥买家主体商品展示区
#oMyGodbody{
  background:#f5f5f5;
}
.oMyGodbody-con{
  width:1200px;
  margin:0 auto;
  min-height:1000px;
  background:#f5f5f5;
  padding-top:50px;
}
//爆品区域
.oMyGodbaopin{
  width:1200px;
  min-height:1000px;
  h3{
    width:269px;
    height:25px;
    background:#fe3650;
    padding:11px 0 0 21px;
    font-size:18px;
    color:white;
  }
}
.oMyGodbimai{
  width:1200px;
  height:36px;
  border-bottom:2px solid #fe3650;
}
.oMyGodbaopin-list {
  dl{
    width:594px;
    height:247px;
    background:#fff;
    float:left;
    margin-top:12px;
    dt{
      width:247px;
      height:247px;float:left;
      overflow:hidden;
      img{
        height:247px;
      }
    }
    dd{
      width:323px;
      height:224px;
      float:left;
      padding-top:23px;
      padding-right:24px;
      position:relative;
      h6{
        width:298px;
        height:26px;
        line-height:26px;
        margin-bottom:11px;
        font-size:12px;
        color:#7b7b7b;
        em{
          display:inline-block;
          width:26px;
          height:17px;
          position:relative;
          top:5px;
          margin-right:3px;
        }
      }
      h5{
        width:323px;
        height:32px;
        font-size:12px;
        line-height:32px;
        border-bottom:1px dashed #e7e7e7;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        color:#3e1e36;
        font-weight:900;
        margin-bottom:9px;
        cursor:pointer;
      }
      .oMyGodlistjieshao{
        font-size:12px;
        color:#999;
        margin-bottom:5px;
      }
      .oMyGodlistxiaoshou{
        width:94px;
        height:22px;
        border-radius:4px;
        background:#ff4429;
        line-height:22px;
        text-align:center;
        color:white;
        font-size:12px;
      }
      i{
        display:block;
        width:0;
        height:0;
        border-top:11px solid transparent;
        border-bottom:11px solid transparent;
        border-left:11px solid #ff4429;
        position:relative;
        left:93px;
        bottom:22px;
      }
      span{
        font-size:12px;
        color:#f74020;
        strong{
          font-size:16px;
        }
      }
      del{
        font-size:12px;
        color:#b19788;
      }
      a{
        display:block;
        width:83px;
        height:25px;
        border:1px solid #ff482b;
        color:#ff482b;
        text-align:center;
        line-height:25px;
        font-size:12px;
        border-radius:4px;
        position:absolute;
        right:24px;
        bottom:14px;
      }
    }
  }
  .oMyGodbaopin-list1{
    margin:12px 12px 0 0;
  }
}
.oMyGodbaopinh1,.oMyGodbaopinh5{
   em{
     background:url(../img/country.png) 0 -31px no-repeat;
   }
 }
.oMyGodbaopinh2{
  em{
    background:url(../img/country.png) -60px -5px no-repeat;
  }
}
.oMyGodbaopinh3{
  em{
    background:url(../img/country.png) -30px -109px no-repeat;
  }
}
.oMyGodbaopinh4,.oMyGodbaopinh10{
  em{
    background:url(../img/country.png) -150px -5px no-repeat;
  }
}
.oMyGodbaopinh6{
  em{
    background:url(../img/country.png) -30px -5px no-repeat;
  }
}
.oMyGodbaopinh7,.oMyGodbaopinh9{
  em{
    background:url(../img/country.png) -120px -5px no-repeat;
  }
}
.oMyGodbaopinh8{
  em{
    background:url(../img/country.png) -180px -5px no-repeat;
  }
}

//秒杀区域
.oMyGodko{
  width:990px;
  height:200px;
  margin:12px auto;
}
.oMyGodmiaoshatu img{
  width:100%;
  height:100%;
}
//全球品牌
.oMyGodworld{
  width:1200px;
  h3 {
    width:1200px;
    height:34px;
    font-size:18px;
    color:white;
    border-bottom:2px solid #ff305c;
    p{
      width:277px;
      height:25px;
      padding:9px 0 0 13px;
      background:#ff305c;
    }
  }
}
.oMyGodworldlist{
  width:1200px;
  .oMyGodworldlistleft{
    width:716px;
    float:left;
    div{
    width:714px;
    height:178px;
    margin-top:10px;
    border:1px solid #cbcbcb;
    }
    .oMyGodwll1{
      background:url(../img/w1.jpeg) no-repeat;
    }
    .oMyGodwll2{
      background:url(../img/w2.jpeg) no-repeat;
    }
    .oMyGodwll3{
      background:url(../img/w3.jpeg) no-repeat;
    }
    .oMyGodwll4{
      background:url(../img/w4.jpeg) no-repeat;
    }
  }
  .oMyGodworldlistright{
    width:426px;
    float:right;
    background:white;
    padding:20px 10px 0 20px;
    margin-top:10;
    div{
      width:130px;
      height:32px;
      border:1px solid #ededed;
      border-radius:4px;
      float:left;
      margin:0 10px 10px 0;
      text-align:center;
      line-height:32px;
      i{
        display:inline-block;
        width:27px;
        height:17px;
        background: url(../img/country.png) -60px -5px no-repeat;
        position:relative;
        top:3px;
      }
    }
    .oMyGodpinpailist{
      width:434px;
      height:549px;
      margin-top:46px;
      border:0;
      div{
        width:132px;
        height:62px;
        margin-right:10px;
        border-radius:0;
      }
    }
  }
}
//这里是商品列表    ================================================
  .oMyGodlist{
    width:1200px;
    margin-top: 50px;
    .oMyGodlisttop{
      width:1200px;
      height:43px;
      margin-bottom:6px;
      img{
        width:43px;
        height:43px;
        float:left;
        background:url(../img/biaozhi.png) center no-repeat;
      }
      div{
        width:1151px;
        height:34px;
        margin-left:6px;
        border-bottom:2px solid #fc3c2d;
        float:left;
        p{
          color:#fc3c2d;
          width:330px;
          height:34px;
          font-size:22px;
          line-height:34px;
          font-weight:900;
          float:left;
          span{
            font-size:14px;
            color:#a3a290;
            position:relative;
            left:-12px;
            top:-3px;
            font-weight:normal;
            i{
              display:inline-block;
              width:6px;
              height:6px;
              border-radius:50%;
              background:#a3a290;
              position:relative;
              right:-4px;
              top:-2px;
            }
            b{
              margin-left:5px;
            }
          }
        }
        ul{
          height:34px;
          float:right;
          li{
            float:left;
            text-align:center;
            line-height:34px;
            font-size:12px;
            color:#686868;
          }
        }
      }
    }
    .oMyGodlistbody{
      width:1200px;
      height:500px;
      background:white;
      .oMyGodlistbodyleft{
        width:220px;
        height:500px;
        float:left;
        .oMyGodlistbodylefttop{
          width:220px;
          height:376px;
          overflow:hidden;
          img{
            width:100%;
            height:100%;
          }
        }
        .oMyGodlistbodyleftbottom{
          width:200px;
          height:114px;
          padding:10px 0 0 20px;
          background:#e7e5e6;
          p{
            a{
              display:block;
              width:90px;
              height:26px;
              float:left;
              font-size:12px;
              color:#616161;
              text-align:center;
              line-height:26px;
              cursor:pointer;
            }
          }
        }
      }
      .oMyGodlistbodycenter{
        float:left;
        width:540px;
        height:460px;
        background:url(../img/milkcenterbg_03.gif) center no-repeat;
        padding:20px;
        div{
          width:247px;
          height:208px;
          float:left;
          padding:23px 0 0 22px;
          h4{
            width:94px;
            height:16px;
            font-size:12px;
            line-height:16px;
            padding-left:23px;
            i{
              display:inline-block;
              width:24px;
              height:14px;
              position:relative;
              top:3px;
              margin-right:5px;
            }
          }
          img{
            width:140px;
            height:140px;
            margin-left:40px;
            margin-bottom:5px;
          }
          p{
            a{
              display:block;
              width:247px;
              height:12px;
              line-height:12px;
              font-size:12px;
              color:#7a8277;
              white-space:nowrap;
              text-overflow:ellipsis;
              overflow:hidden;
            }
          }
          span{
            display:inline-block;
            height:30px;
            line-height:30px;
            font-size:18px;
            color:#fe4b51;
            font-weight:600;
            margin-right:10px;
            i{
              font-size:12px;
            }
          }
          del{
            display:inline-block;
            height:16px;
            color:#947d97;
            font-size:12px;
            line-height:18px;
            text-align:center;
          }
        }
      }
      .oMyGodlistbodyright{
        width:400px;
        height:500px;
        overflow:hidden;
      }
    }
  }
//底部区域
#oMyGodbottom{
  height:372px;
  .oMyGodbottom-con{
    height:322px;
    margin:0 auto;
    background:#d3d3d3;
    padding-top:50px;
    .oMyGodbottomtop{
      height:106px;
      background:#3e3a39;
      div{
        width:1200px;
        height:106px;
        p{
          span{
            margin-top:17px;
            display:block;
            width:54px;
            height:56px;
            margin-bottom:3px;
          }
        }
          .oMyGodbottomtopp1{
            span{
              background:url(../img/zheng.png)  -4px -2px  no-repeat;
            }
          }
        .oMyGodbottomtopp2{
          span{
            background:url(../img/zheng.png)  -3px -62px  no-repeat;
          }
        }
        .oMyGodbottomtopp3{
          span{
            background:url(../img/zheng.png)  -3px -122px  no-repeat;
          }
        }
        .oMyGodbottomtopp4{
          span{
            background:url(../img/zheng.png)  -3px -181px  no-repeat;
          }
        }
        .oMyGodbottomtopp5{
          span{
            background:url(../img/zheng.png)  -3px -240px  no-repeat;
          }
        }
        .oMyGodbottomtopp6{
          span{
            background:url(../img/zheng.png)  -3px -302px  no-repeat;
          }
        }
        }
        p{
          float:left;
          width:54px;
          height:30px;
          text-align:center;
          line-height:12px;
          color:#f1f1f1;
          margin:0 73px;
          font-size:12px;
        }
      }
    }
    .oMyGodbottomcenter{
      background:#d3d3d3;
      height:172px;
      div{
        width:1200px;
        height:136px;
        margin:0 auto;
        padding-top:36px;
        h4{
          float:left;
          width:240px;
          height:136px;
          p{
            width:250px;
            height:50px;
            line-height:50px;
            font-size:12px;
            color:#666;
            a{
              display:inline-block;
              width:36px;
              height:36px;
              position:relative;
              left:10px;
              top:12px;
              span{
                display:none;
                width:100px;
                height:100px;
                padding:18px;
                position:absolute;
                background:white;
                z-index:999;
                top:-140px;
                left:-50px;
                img{
                  display:inline-block;
                  width:100px;
                  height:100px;
                }
                i{
                  display:inline-block;
                  width:0;
                  height:0;
                  border:12px solid transparent;
                  border-top:12px solid white;
                  position:absolute;
                  bottom:-18px;
                  left:54px;
                }
              }
            }
          }
        }
        ul{
          float:left;
          li{
            width:160px;
            height:136px;
            float:left;
            p{
              font-size:18px;
              color:#000;
              line-height:18px;
              height:18px;
              margin-bottom:12px;
            }
            a{
              display:block;
              font-size:12px;
              color:#666;
              margin-bottom:10px;
              height:12px;
              line-height:12px;
            }
          }
          .oMyGodtwo{
            width:110px;
            height:136px;
            text-align:center;
            img{
              width:100px;
              height:100px;
            }
            span{
              font-size:12px;
              color:#666;
            }
          }
        }
      }
    }
    .oMyGodbottomdi{
      height:44px;
      background:#333;
      p{
        width:1200px;
        height:44px;
        margin:0 auto;
        font-size:12px;
        color:#f1f1f1;
        text-align:center;
        line-height:44px;
      }
    }
  }
//临时购物车页面
#oMyGodbuycart{
  width:320px;
  position:fixed;
  top:0;
  right:-280px;
  background:red;
  z-index:9999;
  div{
    float:left;
    cursor:pointer;
  }
  .oMyGodbuycartleft{
    width:40px;
    height:100%;
    background:#333;
    position:relative;
    .oMyGodbuycar{
      height:110px;
      width:24px;
      font-size:16px;
      padding:5px 8px;
      text-align:center;
      color:white;
      position:absolute;
      left:0;
      top:270px;
      i{
        display:block;
        width:24px;
        height:24px;
        font-size:24px;
        line-height:24px;
        text-align:center;
        color:white;
        margin-bottom:3px;
      }
      span{
        display:block;
        width:16px;
        height:16px;
        background:#f03468;
        color:white;
        border-radius:50%;
        text-align:center;
        line-height:16px;
        margin:3px 0 0 4px;
      }
    }
    .oMyGodlianxi{
      width:24px;
      height:24px;
      padding:8px;
      position:absolute;
      bottom:90px;
      i{
        display:block;
        width:24px;
        height:24px;
        color:white;
        font-size:24px;
      }
    }
    .oMyGodma{
      width:24px;
      height:24px;
      position:absolute;
      bottom:50px;
      padding:8px;
      font-size:24px;
      color:white;
      z-index:19999;
    }
    .oMyGodtanma{
      display:none;
      overflow:hidden;
      width:150px;
      height:160px;
      background:white;
      text-align:center;
      padding-top:20px;
      position:absolute;
      bottom:0;
      left:-150px;
      z-index:9999;
      p{
        width:150px;
        height:20px;
        font-size:14px;
        color: #999999;
        i{
          display:block;
          width:14px;
          height:14px;
          position:absolute;
          top:18px;
          right:12px;
        }
      }
      img{
        width:100px;
        height:100px;
      }
    }
    .oMyGodgotop{
      display:none;
      width:40px;
      height:34px;
      position:absolute;
      bottom:0;
      color:white;
      font-size:14px;
      padding-top:16px;
      text-align:center;
      i{
        display:block;
        width:0;
        height:0;
        border:8px solid transparent;
        border-bottom:8px solid white;
        position:absolute;
        top:-2px;
        left:12px;
      }
    }
  }
  .oMyGodbuycartright{
    width:280px;
    height:100%;
    background:#f2f2f2;
    .oMyGodface{
      width:250px;
      height:80px;
      background:white;
      text-align:center;
      line-height: 80px;
      font-size:16px;
      margin:20px 0 0 15px;
    }
    .oMyGodcartsp{
      width:230px;
      height:60px;
      padding:10px;
      margin:0 0 10px 15px;
      background:white;
      a{
        display:block;
        width:60px;
        height:60px;
        float:left;
        background:red;
        img{
          width:100%;
          height:100%;
        }
      }
      p{
        float:left;
        width:162px;
        height:40px;
        font-size:12px;
        line-height:20px;
        margin-left:8px;
      }
      span{
        display:block;
        width:162px;
        height:20px;
        float:left;
        i{
          width:80px;
          height:20px;
          display:block;
          font-size:18px;
          margin:0 0 0 10px;
          float:left;
          color:#f03468;
        }
        b{
          height:20px;
          width:14px;
          display:block;
          float:left;
          background:#f03468;
          font-size:12px;
          color:white;
          text-align:center;
          line-height:20px;
        }
        em{
          display:none;
          color:gray;
          float:left;
          width:12px;
          height:12px;
          border-radius:50%;
          text-align:center;
          line-height:10px;
          font-size:22px;
          border:1px solid gray;
          margin:4px 0 0 3px;
        }
      }
    }
    .oMyGodjiesuan{
      width:280px;
      height:90px;
      background:white;
      text-align:center;
      position:absolute;
      bottom:0;
      div{
        width:280px;
        height:40px;
        p{
          width:135px;
          height:40px;
          float:left;
          color:#999;
          font-size:12px;
          text-align:left;
          padding-left:5px;
          b{
            font-weight:900;
            color:#333;
          }
          span{
            color:#f00659;
            font-size:16px;
            i{
              font-size:14px;
            }
          }
        }
      }
      input{
        width:255px;
        height:42px;
        font-size:18px;
        color:#666;
        background:#f2f2f2;
        text-align:center;
        line-height:42px;
        outline:none;
        border:1px solid #999;
      }
    }
  }
}
//楼梯效果
#oMyGodlouti{
  display:none;
  width:30px;
  height:900px;
  position:fixed;
  left:0;
  top:0;
  .oMyGodloutilist{
    width:30px;
    background:#f5f5f5;
    div{
      width:28px;
      height: 28px;
      font-size:12px;
      text-align:center;
      padding-bottom:3px;
      color:#999;
      margin-top:5px;
      border:1px solid #333;
    }
  }
  p{
    width:30px;
    height:30px;
    margin-top:10px;
    background:#333;
    font-size:12px;
    color:white;
  }

}










